[Unit]
Description=graphite socket
#After=sys-subsystem-net-devices-wlan0_ap.device
#Requires=sys-subsystem-net-devices-wlan0_ap.device

[Socket]
ListenStream=/run/gunicorn/socket
ListenStream=0.0.0.0:8888

[Install]
WantedBy=sockets.target
