[Unit]
Description=log_water_sensor service
Requires=carbon-cache.service
After=carbon-cache.service

[Service]
Type=simple
ExecStart=/usr/bin/log_water_sensor
User=debian
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
