[Unit]
Description=Save carbon tmpfs to flash service
Requires=use_tmpsfs_for_carbon.service
After=use_tmpsfs_for_carbon.service
OnFailure=failure-email@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync --archive /var/lib/graphite.ephemeral/ /var/lib/graphite.permanent

[Install]
WantedBy=multi-user.target