[Unit]
Description=Save carbon tmpfs to flash service

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync --archive /var/lib/graphite.ephemeral/ /var/lib/graphite.permanent
