[Unit]
Description=use tmpfs for carbon
Before=carbon-cache.service
Before=graphite.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/use_tmpsfs_for_carbon.sh

[Install]
WantedBy=multi-user.target